.footer {
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #313131;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #333;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5)
  );
}

.footer-text {
  font-size: 0.9rem;
  color: #888;
  text-align: center;
}

.footer-icons {
  display: flex;
  gap: 1rem;
}

.footer-icons .icon {
  font-size: 1.5rem;
  color: #fff;
  transition: color 0.3s;
}

.footer-icons .icon:hover {
  color: #646cffaa;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-text {
    margin-bottom: 1rem;
  }

  .footer-icons {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer-text {
    font-size: 0.8rem;
  }

  .footer-icons .icon {
    font-size: 1.2rem;
  }
}
